
<div class="container-dashboard">
  <div class ="profil-dashboard">
    <div class="user-info">
      <% unless @user.first_name.nil? %>
        <h1>Hello <%= @user.first_name.capitalize %>,</h1>
      <% end %>
      <%= cl_image_tag @user.avatar.url, class: "avatar-medium" %>
      <p><%= @user.email %></p>
    </div>
    <div class="activities">
      <div class="bikes-activity">
        <% if @reservations.count > 1 || @reservations.count == 0 %>
          <p><strong><%= @reservations.count %></strong> reservations are planned on your bikes</p>
        <% else %>
          <p><strong><%= @reservations.count %></strong> reservation is planned on your bikes</p>
        <% end %>
        <a data-toggle="tab" href="#mybikes" role="tab" aria-controls="mybikes">see more</a>
      </div>
      <div class="bikes-activity">
        <% if @reservations_user.count > 1 || @reservations_user.count == 0 %>
          <p>You have booked <strong><%= @reservations_user.count %></strong> reservations on other Clickandbikers !</p>
        <% else %>
          <p>You have booked <strong><%= @reservations_user.count %></strong> reservation on other Clickandbikers !</p>
        <% end %>
        <a data-toggle="tab" href="#booking" role="tab" aria-controls="booking">see more</a>
      </div>
    </div>
    <button type="button" class="btn btn-primary dash-btn">My bikes</button>
  </div>

  <!-- Partie droite -->
  <!-- tabs -->
  <div class="full-tabs">
    <ul class="nav nav-pills" role="tablist">
      <li class="active", role="presentation">
        <a data-toggle="tab" href="#mybikes" role="tab" aria-controls="mybikes">My Bookings as the owner (<%= @reservations.count %>)</a>
      </li>
      <li role="presentation">
        <a data-toggle="tab" href="#booking" role="tab" aria-controls="booking">My bookings as the tenant (<%= @reservations_user.count %>)</a>
      </li>
    </ul>
    <!-- bas -->
    <div class="tab-content">
      <div class="tab-pane active" id="mybikes" role="tabpanel" aria-labelledby="pills-home-tab">
        <% @reservations.each do |reservation| %>
          <div class="my-bike-card">
            <%= image_tag reservation.user.avatar.url(:bright_face), class: "avatar-small user-avatar-card" %>
            <div class="title-card">
              <p><strong class="status pending">Request  .  </strong><strong><%= reservation.user.first_name.capitalize %></strong> for <%= reservation.bike.title %></p>
            </div>
            <div class="card-details">
              <p><%= reservation.starts_at.strftime("%e/%m/%y") %> / <%= reservation.ends_at.strftime("%e/%m/%y") %></p>
            </div>
            <p class="price-card"><strong><%= ((reservation.ends_at - reservation.starts_at) / 60000).round * reservation.bike.price_per_day %> €</strong></p>
            <div class="status-card">
              <% if reservation.validated == nil %>
                <%= link_to '<i class="fa fa-check" aria-hidden="true"></i>'.html_safe, accept_booking_path(reservation), method: :patch, id: "accept-reservation" %>
                <%= link_to '<i class="fa fa-ban" aria-hidden="true"></i>'.html_safe, decline_booking_path(reservation), method: :patch, id: "decline-reservation" %>
              <% elsif reservation.validated == true %>
                <p class="status accepted answered-request" >Accepted</p>
              <% else %>
                <p class="status declined answered-request" >Declined</p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="tab-pane" id="booking" role="tabpanel" aria-labelledby="pills-profile-tab">
        <% @reservations_user.each do |reservation_user| %>
          <div class="my-bike-card">
            <%= image_tag reservation_user.bike.photo.url(:bright_face), class: "photo-tabs" %>
            <div class="title-card tenant">
              <p><strong><%= reservation_user.bike[:title] %></strong></p>
              <p><%= reservation_user.starts_at.strftime("%e/%m/%y") %> / <%= reservation_user.ends_at.strftime("%e/%m/%y") %></p>
              <p><%= reservation_user.bike.address %></p>
            </div>
            <p class="price-card"><strong><%= ((reservation_user.ends_at - reservation_user.starts_at) / 60000).round * reservation_user.bike[:price_per_day] %> €</strong></p>
            <div class="status-card">
              <% if reservation_user.validated %>
                <p class="status accepted">Accepted</p>
              <% elsif reservation_user.validated == false %>
                <p class="status declined">Declined</p>
              <% else %>
                <p class="status pending">Pending</p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

