<div class="">
  <div class="row whitebox">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="@">
        <h1 class="spacecenter spaceautour">Add a bike</h1>
        <%= simple_form_for(@bike) do |f| %>
        <div class="row">
          <div class="col-xs-6">
            <%= f.input :title, placeholder: 'Racing bicycle for hipster' %>
          </div>
          <div class="col-xs-6">
            <%= f.input :address, placeholder: '16 villa gaudelet 75011 paris'%>
          </div>
          <div class="col-xs-4">
            <%= f.input :category, prompt: 'Category', :collection => ['Racing bike', 'City bike', 'Mountain bike'], label: false %>
          </div>
          <div class="col-xs-4">
            <%= f.input :size, prompt: 'Size', :collection => ['Adult F', 'Adult M', 'Child'], label: false %>
          </div>
          <div class="col-xs-4">
            <%= f.input :price_per_day, placeholder: 'Price in €', label: false%>
          </div>
        </div>
          <div class="form-group">
            <!-- <label class="control-label check_boxes optional">Equipment</label> -->
            <input type="hidden" name="post[category_ids][]" value="">
            <div class="category-choices">
                <input type="checkbox" class="hidden" value="<%= @bike.bell %>" name="bike[bell]" id="bell">
                <label for="bell" class="category-choice">Bell <i class="fa fa-check"></i></label>
                <input type="checkbox" class="hidden" value="<%= @bike.lights %>" name="bike[lights]" id="lights">
                <label for="lights" class="category-choice">Lights <i class="fa fa-check"></i></label>
                <input type="checkbox" class="hidden" value="<%= @bike.pump %>" name="bike[pump]" id="pump">
                <label for="pump" class="category-choice">Pump <i class="fa fa-check"></i></label>
                <input type="checkbox" class="hidden" value="<%= @bike.child_seat %>" name="bike[child_seat]" id="child_seat">
                <label for="child_seat" class="category-choice">Child seat <i class="fa fa-check"></i></label>
                <input type="checkbox" class="hidden" value="<%= @bike.padlock %>" name="bike[padlock]" id="padlock">
                <label for="padlock" class="category-choice">Padlock <i class="fa fa-check"></i></label>
                <input type="checkbox" class="hidden" value="<%= @bike.helmet %>" name="bike[helmet]" id="helmet">
                <label for="helmet" class="category-choice">Helmet <i class="fa fa-check"></i></label>
                <input type="checkbox" class="hidden" value="<%= @bike.basket %>" name="bike[basket]" id="basket">
                <label for="basket" class="category-choice">Basket <i class="fa fa-check"></i></label>
                <div class="category-choice-blank"></div>
            </div>
          </div>
          <%= f.input :description, placeholder: 'This bike is a 2 years old blue racing bicycle. It is in very good state...'%>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <div class="spacecenter">
            <%= f.submit "Save", class: "btn btn-primary spaceautour" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
