<div class="index-container">
  <div class="card-container">
    <%= form_tag bikes_path, class: "form-stuff", method: :get do %>
      <%= text_field_tag :address,
        params[:address],
        class: "form-control input-lg",
        placeholder: "Enter the address where you want to pickup your bike",
        id: "bike_address"
      %>
    <% end %>
    <div class="row">
      <% @bikes.each do |bike| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4)), url('<%= cl_image_path bike.photo, height: 300, width: 400, crop: :fill %>')">
          <div class="card-category"><%= bike.address %></div>
          <div class="card-price"><p><%= bike.price_per_day %> €</p></div>
          <div class="card-description">
            <h2><%= bike.title %></h2>
          </div>
          <%= cl_image_tag bike.user.avatar.url, class: "card-user" %>
          <%= link_to "", bike_path(bike), class: "card-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="map" data-markers="<%= @markers.to_json %>"></div>
</div>
