<div class="container">
  <div class="container-reserv">
    <div class="col-md-8">
      <div class="location">
        <div class="location-header">
          <div class="photo-reservation">
            <%= cl_image_tag @bike.photo, crop: :fill, class: "bike-photo" %>
          </div>
          <div class="location-header-infos">
            <h4><%= @bike.title %></h4>
            <p><%= @bike.address %></p>
          </div>
        </div>

        <div class="location-infos">
          <div class="location-infos-desc">
            <h4>About this bike</h4>
            <p><%= @bike.description %></p>
          </div>
          <hr class="hr">
          <div class="location-infos-equip">
            <h4>Equipments</h4>
              <div class="all-equipment">
                <% @equipments.each do |equipment| %>
                <% if @bike.send(equipment[0]) %>
                  <div class="equipment">
                <% else %>
                  <div class="equipment line-throught">
                <% end %>
                    <p><%= image_tag equipment[1] %>
                    <%= equipment[0].to_s.capitalize %></p>
                  </div>
                <% end %>
              </div>
          </div>
          <hr class="hr">
          <div class="location-infos-price">
            <h4>Price</h4>
            <p >Price a day: <%= @bike.price_per_day %> €</p>
          </div>
          <hr class="hr">
          <div class="location-infos-owner">
            <h4>Bike owner information</h4>
            <p><%= User.find(@bike.user_id).email %></p>
          </div>
        </div>
        <div class="location-map" id="map" style="height: 250px;" data-markers="<%= @markers.to_json %>"></div>
        <div id="reviews">
          <h4 id="counter"><%= pluralize @bike.reviews.size, "review" %></h4>
           <p> <% if @bike.reviews.blank? %>
            Be the first to leave a review for <%= @bike.title %> </p>
          <% else %>
            <% @bike.reviews.each do |review| %>
              <%= render 'reviews/show', review: review %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="reservation-form">
      <div class="loc-price" id="calcul-days" data-price="<%= @bike.price_per_day %>">
        <h6><%= @bike.price_per_day %> €</h6>
        <p>/ DAY</p>
      </div>
      <%= simple_form_for [@bike, @reservation] do |f| %>
        <%= f.input :starts_at, as: :string, required: false, label: false, input_html: { class: "datepicker starts_at placeholder-form" }, placeholder: "Select Date.." %>
        <%= f.input :ends_at, as: :string, required: false, label: false, input_html: { class: "placeholder-form datepicker ends_at" }, placeholder: "Select Date.." %>
        <%= f.submit "Book now", class: "btn btn-primary btn-full-width", id: "submit_booking" %>
      <% end %>
      <hr class="hr">
      <%= render 'reviews/formreview', bike: @bike, review: @review %>
    </div>
  </div>
</div>
